* {
    margin: 0px;
    padding: 0px;
}

.drop {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 120px;
    height: 100px;
    padding: 25px;
    border-radius: 10px;
    color: gainsboro;
    border: 4px dashed #4C7DB8;
    font-family: Poppins;
}

.drop--over {
    border-style: solid;
}

.drop__input {
    display: none;
}

.drop__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
}